/* Estilos generales para el sitio */
* {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/* --- ENCABEZADO --- */

header {
    background-color: #0b4246;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-items: flex-start;
    width: 100%;
}

/* --- IMAGEN DE ENCABEZADO (OPCIONAL) --- */

#Logo {
    align-items: center;
    gap: 15px;
}

#Logo img{
    width: auto;
    display: block;
}
 
 /* --- TITULOS EN ENCABEZADO --- */

#titulo {
    font-size: 30px;
    font-weight: bold;
    color: aquamarine;
    text-align: center;
}

 .section-titulos {
    margin-top: 80px;
}

 .navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar a {
    font-size: 25px;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    color: aquamarine;
    transform: scale(1.2);
}

#navbartitle h1 {
    font-size: 25px; /* Ajusta el tamaño de la animación */
    color: white; /* Cambia el color según el diseño */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    overflow: visible;
    opacity: 1;
    letter-spacing: 2px; /* Espaciado entre letras */
    text-transform: uppercase;
}

/* Botones */

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

/* --- Estilos para los bloques de contenido en ventana --- */
#main {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.content-block {
    display: flex;
    width: 100%;
}

.content-block img {
    flex: 1;
    max-width: 250px; /* --- Para cambiar de tamaño su imagen de perfil, modifique este parametro --8 */
    margin-left: 40px; 
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para las imágenes */
img {
    max-width: 100%; /* Nunca será más grande que su contenedor */
    height: auto; /* Mantiene la proporción */
    display: block; /* Elimina espacios blancos alrededor de la imagen */
}

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}