/* Estilos generales para el sitio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

#NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#Logo img {
    height: 50px;
}

#NavBarTitle h1 {
    font-size: 24px;
    margin-left: 10px;
}

#List nav ul {
    list-style-type: none;
}

#List nav ul li {
    display: inline-block;
    margin-right: 20px;
}

#List nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

#List nav ul li a:hover {
    text-decoration: underline;
}

/* Carrete de imagenes */

#CarouselContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#Carousel {
    display: flex;
    animation: slideAnimation 10s linear reverse infinite;
    transition: transform 0.8s ease;
}

#Carousel .Slide {
    flex: 0 0 100%;
}

#Carousel .Slide img {
    width: 50%;
    height: auto;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#CarouselCOntainer:hover #Carousel {
    animation-play-state: paused;
}

/* Botones */

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 16px;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

/* Estilos de la pantalla */
#Main {
    padding: 20px;
}

#MainTitle1, #MainTitle2 {
    margin-bottom: 10px;
}

#MainContent1, #MainContent2 {
    margin-bottom: 20px;
}

#MainContent1 p, #MainContent2 p {
    font-size: 18px;
    color: #333;
}

/* Estilos para las imágenes */

#MainImage1, #MainImage2 {
    margin-bottom: 20px;
    height: 300px;
    background-color: #ccc;
}

/* Agregar espacio entre secciones */
#MainTitle1, #MainContent1, #MainImage1,
#MainTitle2, #MainContent2, #MainImage2 {
    margin-bottom: 20px;
}



